pandas==0.24.1
numpy==1.16.1
requests==2.18.4
Pillow==6.0.0
beautifulsoup4==4.7.1
dominate==2.3.5
imageio==2.5.0
imutils==0.5.2
matplotlib==3.0.3
moviepy==1.0.0
scipy==1.2.1
skimage==0.0
tensorboardX==1.6
torch==1.1.0
torchvision==0.2.2.post3
tqdm==4.32.1
visdom==0.1.8.8
PyYAML==5.1
